<section>
    <h1>Physioenforma</h1>
    <div>
        <img src="./retrato-jpg" alt="">
        <div class="grid grid-cols-4">
            <div class="col-span-2">
                <h2 class="text-4xl">About the project</h2>
            </div>
            <div class="col-span-2">
                <div>
                    <h3>Requirements</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nesciunt! Amet inventore aut, consequuntur aliquam quaerat cum ex alias? Dolore est blanditiis consequatur atque ducimus odit optio itaque harum mollitia!</p>
                </div>
                <div>
                    <h3>Approach</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nesciunt! Amet inventore aut, consequuntur aliquam quaerat cum ex alias? Dolore est blanditiis consequatur atque ducimus odit optio itaque harum mollitia!</p>
                </div>
            </div>
        </div>
        
    </div>
</section>