<style>
    .contacto{
        font-size: 148px;
    }
    .input {
        box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    }
</style>

<section class="bg-gray-800 p-12">
    <h4 class="contacto text-white mb-0">CONTACT ME!</h4>
    <div class="grid grid-cols-4">
        <div class="col-span-2">
            <div class="flex flex-col mb-4">
                <label class="text-2xl text-gray-300" for="email">Email</label>
                <input name="email" class="outline-none text-xl text-white rounded-2xl px-3 h-14 w-[500px] bg-transparent border border-gray-700 focus:border-gray-300 transition-1000" type="text">
            </div>
            <div class="flex flex-col">
                <label class="text-2xl text-gray-300" for="message">Message</label>
                <textarea  name="message" class="resize-none text-xl text-white outline-none rounded-2xl p-3 h-[200px] w-[500px] bg-transparent border border-gray-700 focus:border-gray-300"></textarea>
            </div>
        </div>
        <div class="col-span-2 bg-white w-full h-full">
            <ul>
                <li>Github</li>
                <li>Linkedin</li>
            </ul>
            <ul>
                
            </ul>
        </div>
    </div>  
    

</section>