<style>
    .info{
        line-height:72px
    }

    .asterisco{
        animation : 3s rotate linear infinite 
    }

    @keyframes rotate {
       to {
         transform: rotate(360deg)
       } 
    }
</style>

<section class="h-screen py-12 flex items-center justify-center">
    <div class="text-center w-4/6 m-auto flex gap-4 flex-col items-center">
        <img class="asterisco w-[40px]" src="./asterisk.png" alt="">
        <p class="info text-8xl mt-0 tracking-tight">I'm a dynamic developer turning visionary concepts into immersive digital experiences</p>
        <img class="asterisco w-[40px] mt-8" src="./asterisk.png" alt="">
    </div>
    
</section>