<style>
    .link{
        transform : translate(-50%);
    }

    .articulo{
        width : calc(100vw / 2 - 1rem)
    }
</style>

<article class="w-1/2">
    <div class="articulo relative h-[500px] overflow-hidden">
        <img class="w-full h-full hover:scale-105 duration-300" src="./retrato.jpg" alt="">
        <div class="link hidden hover:flex absolute justify-center items-center cursor-pointer top-[50%] left-[50%] rounded-full w-20 h-20 z-2 bg-gray-400 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-30">
            <img class="rotate-180 w-1/2 h-1/2" src="./flecha.png" alt="">
        </div>
    </div>
    <div class="flex justify-between items-end mt-4">
        <h4 class="text-4xl">Physioenforma</h4>
        <span class="text-2xl">tipo proyecto</span>
    </div>
</article>