---
    import Project from "./Project.astro"
---

<style>
    .proyectos{
        
    }
</style>

<section class="min-h-screen overflow-hidden p-12">
    <h2 class="text-9xl mb-10">PROJECTS</h2>
    <div class="flex gap-8 w-[200vw]">
        <Project/>
        <Project/>
        <Project/>
        <Project/>
    </div>
    <div class="flex justify-center mt-12">
        <button class="rounded-full text-2xl px-8 py-4 bg-gray-200 font-bold bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-70">ALL PROJECTS</button>
    </div>
</section>