<!-- <style>
    .asterisco{
        animation : 3s rotate linear infinite 
    }
    @keyframes rotate {
       to {
         transform: rotate(360deg)
       } 
    }
</style> -->


<section class="w-screen h-screen">
    <div class="grid grid-cols-4 px-12">
        <div class="col-span-2">
            <h3 class="text-9xl">SKILLS</h3>
        </div>
        <div  class="col-span-2">
            <div class="mb-6">
                <div class="flex gap-4 items-center">
                    <img class="asterisco w-6 h-6" src="./asterisk.png" alt="">
                    <h4 class="text-4xl font-bold mb-2">Language skills</h4>
                </div>
                <p class="text-2xl text-gray-700">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex fugiat illum nam molestias voluptate assumenda. Maxime voluptatibus nihil molestiae repudiandae voluptates. Itaque, officia temporibus possimus autem est omnis vel esse.</p>
            </div> 
            <div class="mb-6">
                <div class="flex gap-4 items-center">
                    <img class="asterisco w-6 h-6" src="./asterisk.png" alt="">
                    <h4 class="text-4xl font-bold mb-2">Self-taught</h4>
                </div>
                <p class="text-2xl text-gray-700">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex fugiat illum nam molestias voluptate assumenda. Maxime voluptatibus nihil molestiae repudiandae voluptates. Itaque, officia temporibus possimus autem est omnis vel esse.</p>
            </div> 
            <div class="mb-6">
                <div class="flex gap-4 items-center">
                    <img class=" asterisco w-6 h-6" src="./asterisk.png" alt="">
                    <h4 class="text-4xl font-bold mb-2">Soft skills</h4>
                </div>
                <p class="text-2xl text-gray-700">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex fugiat illum nam molestias voluptate assumenda. Maxime voluptatibus nihil molestiae repudiandae voluptates. Itaque, officia temporibus possimus autem est omnis vel esse.</p>
            </div>  
        </div>
    </div>
</section>