---
    import Skill from "./Skill.astro"
---
<section class="h-screen p-12">
    <h2 class="text-9xl mb-10">WHAT I DO</h2>
    <div class="grid grid-cols-4 gap-8">
        <Skill/>
        <Skill/>
        <Skill/>
        <Skill/>
    </div>
</section>